<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>data science internship</title>
    <style>
      nav { 
        background-color: #1bc4d0;
          }
        body{
          background: #e6ffff;
        }
      footer {
        text-align: center;
        padding: 3px;
        background-color: #1bc4d0;
        color: dark;
        align: buttom;
        
        display: block;

              }
        .right{
           margin:0% 10%;
          }
          .card{
            display:flex;
            height: 100%;
            
          }
          
</style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Data Science</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
    </div>
  </div>
</nav>
<div class='container'>
<h2 class='text-center my-5'>News Articles Sorting</h2>
<form action='predict' method='post'>
  {% csrf_token%}
  <div class="form">
      <label for="exampleFormControlTextarea1">Enter your News text:</label><br><br>
      <textarea class="form-control" id="exampleFormControlTextarea1" name='text_data' rows="3"></textarea>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Classify</button>
    <button type="reset" class="btn btn-primary right">Reset</button>
  </div>
</form>
</div>
<div class='container my-5 card'>
<div class='row row-cols-1 row-cols-md-2 g-5'>
<div class='col-4'>
<div class="card text-center">
  <div class="card-header" style='background:#47d147'>
    RESULTS:
  </div>
  <div class="card-body" style='background:#47d147'>
    <h5 class="card-title">{{category|upper}}</h5>
  </div>
</div>
</div>
<div class='col-4'>
<div class="card text-center">
  <div class="card-header" style='background:#47d147'>
    REPORTS:
  </div>
  <div class="card-body" style='background:#47d147'>
    <strong>TIME: {{execution_time|floatformat}}s</strong>
  </div>
</div>
</div>
</div>
</div>
<div class="container my-5">
  <label><strong>Probability:</strong></label>
  <div class='progress'>
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{probability}}%" aria-valuenow="{{probability}}" aria-valuemin="0" aria-valuemax="100">{{probability}}</div>
</div>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    <footer class='fixed-bottom'>
  <a href="#" style="text-decoration:none; color:green;">Internship at ineuron</a></p>
  <p>Author: Narayan hari yadav<br>
</footer>

  </body>
</html>